<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <div class="button-container">
            <a href="/ejercicio1" class="button btn-purple">Ejercicio 1</a>
            <a href="/ejercicio2" class="button btn-green">Ejercicio 2</a>
        </div>
    </div>
</body>
</html>
